*{
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

body{
    margin-left: auto;
    margin-right: auto;
    background-image: url(../images/background\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

.header-container{
    margin-left: auto;
    margin-right: auto;
    margin-top: 46px;
    width: 1028px;
    display: flex;
    justify-content: space-between;
}

.header-logo{
    display: flex;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 29px;
    font-weight: 700;
    line-height: 22px;
}

.logo-img-hvr{
    display: none;
}

.logo-tittle{
    padding-top: 7px;
    margin-left: 7px;
}

.header-logo span{
    font-size: 18px;
    line-height: 18px;
}

.header-logo-container:hover a{
    color: #F26522;
}

.header-logo-container:hover .logo-img{
    display: none;
}

.header-logo-container:hover .logo-img-hvr{
    display: block;
}

.header-info-container{
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    text-align: right;
}

.header-info-container a{
    text-decoration: none;
    color: #fff;
    display: block;
}

.header-info-phone{
    margin-top: 19px;
}

.header-info-mail:hover{
    color: #F26522;
}

.header-info-phone:hover{
    color: #F26522;
}

.main-container{
    margin-top: 17px;
}

.main-flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    width: 1030px;
}

.main-flex-item{
    text-align: center;
    margin-bottom: 37px;
}

.main-flex-item a{
    text-decoration: none;
    color: #fff;
}

.main-flex-item:hover a{
    color: #F26522;
}

.main-item-img{
    width: 300px;
    height: 220px;
    background-size: cover;
    background-position: 50% 50%;
    position: relative;
    overflow: hidden;
}

.main-item-hvr{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 55px;
    background-color: #F26522;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: translateY(100%);
    z-index: 1;
}

.item-hvr-tittle{
    margin-left: 16px;
    margin-bottom: 10px;
    font-size: 10px;
    font-weight: 400;
}

.item-hvr-tittle span{
    font-size: 20px;
    line-height: 26px;
    padding-left: 8px;
}

.item-right-container{
    display: flex;
    align-items: center;
    margin-right: 16px;
    margin-bottom: 10px;
}

.item-hvr-details{
    font-size: 14px;
    font-weight: 400;
    line-height: 14px; 
}
  
.arrow{
    position: relative;
    width: 25px;
    height: 25px;
}

.arrow::after{    
    position: absolute;
    top: 8px;
    left: 9px;
    content: '';
    display: block;
    width: 7px;
    height: 7px;
    border-left: 1px solid rgb(255, 255, 255);
    border-bottom: 1px solid rgb(255, 255, 255);
    transform: rotate(225deg);
}

.main-item-img:hover .main-item-hvr{
    opacity: 1;
    transform: translateY(0);
}

.main-item-img{
    position: relative;  
}

.main-item-img::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 2px;
    background: linear-gradient(to bottom, #ffffff, transparent);
}

.main-item-img::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 2px;
    background: linear-gradient(to bottom, #ffffff, transparent);
}

.img1{
    background-image: url(../images/image1.jpg);
}

.img2{
    background-image: url(../images/image2.jpg);
}

.img3{
    background-image: url(../images/image3.jpg);
}

.img4{
    background-image: url(../images/image4.jpg);
}

.img5{
    background-image: url(../images/image5.jpg);
}

.img6{
    background-image: url(../images/image6.jpg);
}

.main-item-tittle{
    margin-top: 20px;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
}

.footer-container{
    margin-left: auto;
    margin-right: auto;
    width: 306px;
    margin-top: 11px;
    margin-bottom: 15px;
}

.footer-tittle{
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
}